
.details-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details-header input[type="text"] {
    padding: 6px;
    font-size: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    width: 200px;
}

.details-header button {
    padding: 6px;
    font-size: 1rem;
    color: #fff;
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.details-header button:hover {
    background-color: var(--secondary-color);
}

.two-column-flex {
    display: flex;
    gap: 10px;
}

.column {
    flex: 1;
    padding: 10px;
    border: 1px solid var(--border-color);
}

.indent {
    margin-left: 20px;
}

.key {
    font-weight: bold;
    color: #2a659e;
}

.type {
    color: #3d7a57;
}

.value {
    color: #b5651d;
}