
.two-column-flex {
    display: flex;
    gap: 10px;
}

.column {
    flex: 1;
    padding: 10px;
    border: 1px solid var(--border-color);
}

.indent {
    margin-left: 20px;
}

.key {
    font-weight: bold;
    color: #2a659e;
}

.type {
    color: #3d7a57;
}

.value {
    color: #b5651d;
}