/* Conteneur des onglets */
.tabs {
    display: flex;
    border-bottom: 1px solid #ddd;
}

/* Boutons des onglets */
.tab-button {
    background-color: #f1f1f1;
    color: var(--text-color);
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

/* Effet au survol et activation */
.tab-button:hover, .tab-button.active {
    background-color: #ddd;
}

/* Contenu des onglets */
.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #ddd;
    border-top: none;
}

/* Affichage de l'onglet actif */
.tab-content.active {
    display: block;
}