.csv-table {
    overflow: auto;
    width: 100%;
    min-height: 0;
}

.csv-table table {
    width: 100%;
    table-layout: auto;
}

.csv-table th.sortable {
    user-select: none;
}

.csv-table td,
.csv-table th {
    white-space: nowrap;
}

.csv-table th.sortable::after {
  padding-right:10px;
  content: "\00a0\00a0"; /* Reserve space for arrow */
  display: inline-block;
  width: 1em;
  text-align: center;
}

.csv-table th.asc::after {
  content: "\00a0▲";
}

.csv-table th.desc::after {
  content: "\00a0▼";
}