#treeView {
    padding: 0 10px 0 0;
    margin: 0;
    font-size: 13px;
    overflow: auto;
    height: 100%;
    display:flex;
    flex-direction: column;
    gap: 5px;
}

/* remove default list spacing */
#treeView ul {
    margin: 0;
    position: relative;
}

/* base list style */
#treeView li {
    list-style: none;
    cursor: pointer;
    user-select: none;
    color: var(--text-color-dark);
}

#treeView .tree-selected {
    background: var(--primary-color);
    color: var(--text-color-light);
}

/* ---------- FIRST LEVEL ---------- */

.tree-1st-lvl {
    border-radius: 8px;
    padding: 8px;
    background: var(--primary-bg);
}

.tree-1st-lvl:hover {
    background: var(--hover-color);
}

/* ---------- SECOND LEVEL ---------- */

.tree-2nd-lvl {
    border-radius: 8px;
    margin-top: 4px;
    padding: 5px 6px;
    position: relative;
}

.tree-2nd-lvl:hover {
    background: var(--hover-color);
}

/* vertical connector */
.tree-2nd-lvl::before {
    content: "";
    position: absolute;
    left: -15px;
    top: 0;
    bottom: -8px;
    width: 1px;
    background: var(--border-color);
}

/* horizontal connector */
.tree-2nd-lvl::after {
    content: "";
    position: absolute;
    left: -15px;
    top: 50%;
    width: 15px;
    height: 1px;
    background: var(--border-color);
}

/* last child stops vertical line */
#treeView ul li:last-child.tree-2nd-lvl::before {
    bottom: 50%;
}

.arrow {
    padding-right: 5px;
}